<%- include("templates/header") %>

<div class="container mt-4">

  <div class="row justify-content-center">
    <div class="col-md-6">
        <i id="back" class="material-icons md-36"><a href="/personal">arrow_back</a></i>
      <div class="text-center mb-4"> <!-- Add container for center alignment -->
        <h1>Settings</h1>
      </div>

      <form method="POST" action="/settings">
        <div class="form-group">
          <label for="dateOfBirth">Date of Birth</label>
          <input type="date" id="dateOfBirth" name="dateOfBirth" class="form-control" required>
        </div>
      </form>
    </div>
  </div>
</div>



<%- include("templates/footer") %>
