<%- include("templates/header") %>
<div class="container mb-5">
    <h1 style="text-align: center; background-color:#00CED1;border-bottom-left-radius: 50%; border-bottom-right-radius: 50%;color: #FFFFFF;">Recipes</h1>
    <div class="recipe_link">
        <% for(var i = 0; i < list.length; i++) {%>
            <%- include("templates/recipeCard", {recipe: list[i], allIngredients: processedRecipes[i].allIngredients}) %>
        <% } %>
    </div>
    <div style="display: flex; justify-content: center;">
        <form onsubmit="fetchMoreRecipes()">
            <button class="btn btn-primary" type="submit">SEE MORE</button>
        </form>
    </div>
</div>

<script>
    function fetchMoreRecipes(event) {
        event.preventDefault();
        //APIkey: , 5598e1a262a24cb2ade3a0e679b3f8af
        const apiKey = "2e0b7915e440425bba09f072f1e3169b";
        const url = `https://api.spoonacular.com/recipes/findByIngredients?ingredients=<%=ingredient%>&number=3&apiKey=${apiKey}`;
       console.log("fetahc recipe: " , url);
        fetch(url)
            .then(response => response.json())
            .then(data => {
                const additionalRecipes = data;
                console.log(data);
                const additionalProcessedRecipes = additionalRecipes.map(recipe => {
                    const image = recipe.image;
                    const title = recipe.title;
                    const id = recipe.id;
                    const usedIngredients = recipe.usedIngredients.map(ingredient => ingredient.name);
                    const unusedIngredient = recipe.unusedIngredients.map(ingredient => ingredient.name);
                    const missedIngredient = recipe.missedIngredients.map(ingredient => ingredient.name);
     
                    // Combine all ingredients into a single string
                    const allIngredients = [...usedIngredients, ...unusedIngredient, ...missedIngredient ].join(', ');


                    // Return the processed recipe object
                    return { image, title, id, allIngredients};
                });


               
                const recipeLinkDiv = document.querySelector('.recipe_link');
               
                for(let i = 0 ; i < additionalRecipes.length; i++){
                    // Create the HTML markup for each additional recipe card using the processed recipe data
                    let recipeCardMarkup = `<a href="/recipe/${additionalRecipes.id}" >
                                                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                                                <div class="col-auto px-auto" style="
                                                            margin-left: 0px;
                                                            margin-right: 0px;
                                                            padding-left: auto;
                                                            padding-right: 10px;
                                                            padding-left: 17px;
                                                            padding-top: 15px;">
                                                    <img src="${additionalRecipes[i].image}" class="img-fluid recipe-image" alt="Recipe Image">
                                                </div>
                                                <div class="col p-4 d-flex flex-column position-static">
                                                    <strong class="d-inline-block mb-2 text-dark">${additionalRecipes[i].title}</strong>
                                                    <p class="card-text mb-auto">Ingredients: ${additionalProcessedRecipes[i].allIngredient} %></p>
                                                </div>
                                                </div>
                                            </a>`;
                   
                    // Append the recipe card markup to the recipe_link div
                    recipeLinkDiv.insertAdjacentHTML('beforeend', recipeCardMarkup);
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }
</script>

<%- include("templates/footer") %>
