<%- include("templates/header") %> 
<div class="id">
    <div class="d-flex justify-content-between dark-turquoise pt-5 pb-2 ps-2 pe-2 fixed-top">
      <div class="d-flex gap-3 ">
        <i id="back" class="material-icons md-36"><a href="/personal">arrow_back</a></i>
        <div class="d-flex column align-items-center">
        </div>
      </div>
    </div>
  </div>

<br>
<br>
<br>
<br>
<br>
  <hr>
  <br>
  <div class="d-flex column justify-content-center ">
  <h1><b>Changing Your Username</b> </h1>
  
  </div>

  <br>
  <hr>
  <br>
  <div class="d-flex column justify-content-center ">
  <h1><b>Changing Your Password</b> </h1>
  
  </div>

  <br>
  <hr>
  <br>
  <div class="d-flex column justify-content-center ">
  <h1><b>Changing Your Email</b> </h1>
  
  </div>

  <br>
  <hr>
  <br>
  <div class="d-flex column justify-content-center ">
    <h1><b><a href="/DOB">Changing Your Date of Birth</a></b> </h1>
    
    </div>


  <br>
  <hr>
  <br>
  <div class="d-flex column justify-content-center ">
    <form method="POST" action="/logout">
    <button type="submit"><b>Log out</b></button>
  </form>
  </div>

  
  <br>
  <br>
  <hr>
  <br>

  <br>
  <br>
  <hr>
  <br>

<%- include("templates/footer") %> 